.sidebar {
  height: 100vh;
  background-color: #2c2f48;
  
  color: #fff;
  width: 250px;
  transition: width 0.3s ease;
  /* border: 1px solid #ffffff; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  border-radius: 1em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

   z-index:5;
   display:inline-block;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color:#282b44;
  border-radius: 1em;
  border-bottom: 1px solid #252424;
  font: indianred;
}

.app-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #4fa3ff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggle-btn {
  background: none;
  border: none;
  color: #aaa;
  font-size: 1.2rem;
  cursor: pointer;
}

.sidebar-section {
  padding: 16px;
}

.section-title {
  font-size: 0.9rem;
  font-weight: bold;
  color: #aaa;
  margin-bottom: 8px;
  white-space: nowrap;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-link {
  display: block;
  padding: 8px 12px;
  border-radius: 6px;
  color: #ddd;
  text-decoration: none;
  transition: background 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-link:hover {
  background-color: #2a2a2a;
}

/* Optional: force collapse on smaller screens */
@media (max-width: 768px) {
  .sidebar {
    width: 250px ;
    position: absolute; 
  }
  .sidebar.collapsed {
  width: 70px;
  position:relative
}
}
@media (max-width: 370px) {
  .sidebar {
    width: 250px ;
    position: absolute; 
  }
  .sidebar.collapsed {
  width: 28.25px;
  position:relative
}
.toggle-btn{
  position: absolute;
   left: 0;
}
}
