body{
   margin: 0;
  padding: 0;
  background-color: #704d7e;
}

.home-container {
  display: flex;
  flex-direction: row;
  
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

/* Sidebar takes fixed width */
/* .home-sidebar {
  width: 250px;
  min-width: 70px;
  height: 100%;
} */

/* Main content holds search + chat */
.home-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  
  width: 90%;
  overflow: hidden;
  margin:0;
  padding:0
}

/* Search stays on top */
.home-search {
  padding: 15px;
  margin:0px;
  width:100%;
  margin-bottom: 5px;
  margin-left: 5px;
  background-color: #2c2f48;
  flex-direction: row ;
  display:flex;
  /* z-index: 1; */
  border-radius: 1em;
  
}

/* Chat fills remaining space */
.home-chat {
  margin-left: 5px;
  border-radius: 1em;
  flex: 1;
  flex-direction: column;
  width:100%;
  overflow: hidden;
  background-color: #2c2f48;
}
.search-wrap {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.search-wrap > *:first-child {
  flex: 1;
}

.search-icon {
  color: #ffffff !important;  
  font-size: 20px;
  margin-left: 8px;
  position: relative;
  top: 5px; 
  align-self: center;
}


/* Responsive: stack everything vertically */
@media (max-width: 768px) {
  .home-container {
    flex-direction: row;
    width:100%;
  }

  /* .home-sidebar {
    width:250px ;
    height: auto;
  } */

  .home-main {
    height: auto;
  }

  .home-chat {
    height: auto;
  }
}
